:host {
  .dashboard-container {
    display: flex;
    min-height: 100vh;

    // .sidebar {
    //   width: 250px;
    //   flex-shrink: 0;
    //   transition: width 0.3s ease;
    //   min-height: 100vh;

    //   @media (max-width: 768px) {
    //     width: 70px; // collapse for mobile
    //   }
    // }

    .main-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .header {
        z-index: 1000;
      }

      .content {
        flex-grow: 1;
        overflow-y: auto;
        background-color: #f8f9fa;
        display: flex;
        justify-content: center;

        .content-inner {
          width: 100%;
          max-width: 1200px; // keeps table centered on large screens
        }
      }
    }
  }

  // Optional: Custom scrollbar
  ::ng-deep .ng-scrollbar {
    --scrollbar-padding: 2px;
    --scrollbar-size: 6px;
    --scrollbar-thumb-color: #aab3c5;
    --scrollbar-thumb-hover-color: #cfd4de;
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
    --scrollbar-border-radius: 8px;
  }
}
