<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow-lg p-4">
        <!-- <h4 class="text-center mb-4 fw-bold">Login</h4> -->

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="mb-3">
            <label for="mobile" class="form-label">Mobile Number</label>
            <input
              #mobileInput
              type="text"
              id="mobile"
              formControlName="mobile"
              maxlength="10"
              (keypress)="restrictToTenDigits($event)"
              class="form-control"
              placeholder="Enter 10-digit mobile"
            />
            <div
              class="text-danger mt-1"
              *ngIf="loginForm.get('mobile')?.invalid && loginForm.get('mobile')?.touched"
            >
              Please enter a valid 10-digit mobile number.
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
              placeholder="Enter password"
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary w-100"
            [disabled]="!loginForm.valid || isLoading"
          >
            {{ isLoading ? 'Logging in...' : 'Submit' }}
          </button>

          <div class="text-danger mt-2 text-center" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
