/*------------------------------------------------------------------
    Version: 1.0
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    [Table of contents]
   IMPORT FILES
   SKELETON
   CORE

-------------------------------------------------------------------*/

// IMPORT FILES
@import 'assets/styles/base_abstacts_utilities_helpers_partials/main';
@import 'assets/styles/components/component'; // footer styles not working cross check is write or wronf
// @import 'assets/styles/components/buttons';

// SKELETON
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-y: scroll;
  background-color: #f3f4f7;
  color: $text-color;
}

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;

}

a {
  text-decoration: none;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}


li {
  color: getColorAlpha('default-blue', 'light');
  margin-right: 10px;
  cursor: pointer;
}

ul li {
  list-style: none;
}



// CORE
.custom_modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  background-color: #6c757dad;
  z-index: 99999;
}